<nav>
   <ul>
     <li><a class="header_item" href="/">Home</a></li>
     <li><a class="header_item" href="/posts">Posts</a></li>
     <li><a class="header_item" href="/add-post">New Post</a></li>
     <li><a class="header_item" href="/contacts">Contacts</a></li>
   </ul>
 </nav>